# Ignorar la carpeta llamada "imagenes" (originales sin seleccionar y no finalizadas) y todo lo que tenga dentro
/imagenes/
# Ignorar documentos borrador del proyecto
/draft-docs/

# web producida
/public/

# parches de trabajo
*.diff
*.patch

# sys files
resources/_gen/
.hugo_build.lock
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Node (si usas npm para Tailwind, PostCSS, etc. en este tema)
node_modules/

# Estadísticas de Hugo (si usas hugo_stats.json para Tailwind JIT)
hugo_stats.json