<!doctype html>
<html lang="{{ site.Language.Locale | default "es-ES" }}">
  <head>
    {{ partial "header-meta.html" . }}
  </head>
  <body class="page page-{{ .Params.page_type | default "standard" }} content-{{ .Params.content_type | default "page" }}">
    <span id="top" tabindex="-1"></span>
    {{ partial "header.html" . }}
    <main id="main-content">
      {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
    {{ partial "back-to-top.html" . }}
    {{ partial "sticky-cta.html" . }}
    {{ $js := resources.Get "js/main.js" }}{{ if $js }}{{ $js = $js | fingerprint }}<script src="{{ $js.RelPermalink }}" defer onerror="document.documentElement.classList.remove('js-boot')"></script>{{ end }}
  </body>
</html>
