{{ partial "seo.html" . }}
{{ partial "og.html" . }}
{{ partial "schema.html" . }}
{{ $critical := resources.Get "css/critical.css" }}{{ if $critical }}<style>{{ $critical.Content | safeCSS }}</style>{{ end }}
{{ $css := resources.Get "css/main.css" }}{{ if $css }}<link rel="stylesheet" href="{{ $css.RelPermalink }}">{{ end }}
<link rel="icon" href="/favicon/favicon.ico" sizes="32x32">
<link rel="icon" href="/favicon/favicon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="/favicon/apple-touch-icon.png">
<meta name="theme-color" content="#34855B">
<meta name="viewport" content="width=device-width, initial-scale=1">